* {
    box-sizing: border-box;
}

body {
    background-color: #0c0c0f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
}

.header {
    font-family: "Bebas Neue", sans-serif;
    color: #e4c087;
    font-size: 80px;
    letter-spacing: 10px;
    background-color: #1d1d1f;
    text-align: center;
    border-radius: 20px;
    border: 10px solid #9c3b3b;
    width: 800px;
    padding: 10px;
    box-shadow: 0 0 40px 5px #9c3b3b88;
}

#rock,
#paper,
#scissors {
    display: inline-block;
    margin: 0 50px;
    width: 190px;
    height: 240px;
    border-radius: 20px;
    background-color: #111113;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
}

#rock {
    color: #4badf2;
    font-size: 30px;
    box-shadow: 0 0 20px 2px #3ba8ff55;
    border-color: #4badf2;
}

#paper {
    color: #DCB16E;
    font-size: 30px;
    box-shadow: 0 0 20px 2px #ff8c3b55;
    border-color: #DCB16E;
}

#scissors {
    color: #b2adad;
    font-size: 30px;
    box-shadow: 0 0 20px 2px #1c1c1c;
    border-color: #b2adad;
}

.container {
    margin: 100px 0;
    display: flex;
}

img {
    width: 150px;
    height: auto;
}

#scissors img {
    width: 100px;
}

.result {
    color: #e5e5e5;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    display: flex;
    color: #e4c087;
    font-size: 30px;
    margin: 50px 0;
    gap: 70px;
}

.human-score,
.computer-score {
    background-color: #161616;
    border: 3px solid #5e3a2f;
    padding: 20px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 0 15px 1px #5e3a2f55;
    visibility: hidden;
    width: 215px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;

}


.result-text {
    color: #FF6B69;
}

.final-result {
    font-size: 100px;
    /* color: #9c3b3b; */
}

.rest-button {
    background-color: #9C3B3B;
    border-color: #E4C087;
    color: #E4C087;
    box-shadow: 0 0 10px 2px #E4C087;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 35px;

}